.container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        background-color: var(--bgSoft);
        padding: 20px;
}

.title{
    color:var(--textSoft);
    font-weight:500;
    text-transform: capitalize;
}

.menu{
    display:flex;
    align-items: center;
    gap:20px;
}

.search{
    display: flex;
    align-items: center;
    gap:10px;
    background-color: #2e374a;
    border-radius: 10px;
}

.input{
    background-color: transparent;
    border: none;
    color:var(--text);
}

.icons{
    display:flex;
    gap:20px;
}

